h3 {
    font-family: "Poppins";
  }
  
  main {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
  }
  
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section-left,
  .section-right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .current-income-section {
    height: 160px;
    width: 229px;
    border-radius: 6px;
    background-color: rgba(134, 166, 139, 0.67059);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .current-income-section_negative {
    background-color: rgb(208 78 78 / 67%);
  }
  
  .current-income-section h3 {
    color: white;
    font-weight: 300;
    font-size: 15.3px;
  }
  
  .current-income-section h3 {
    margin-bottom: 9px;
  }
  .current-income-section h2 {
    color: white;
    font-weight: 400;
    font-size: 27px;
  }
